In [1]:
# 컬렉션의 하나로 연속되어 저장되어 묶음으로 관리하는 특별한 자료 저장 형태
# 기존 C,Java 프로그램 언어에서 배열(Array)와 비슷하나 조금 다르고, java의 ArrayList와 유사함
# 리스트를 지정하면 첨자 0부터 ~ (n-1)까지의 변수로 지정
a=[1,2,3,4,5] # 리스트 선언과 초기화
a[0],a[1],a[2],a[3],a[4] # 각각의 내용물 출력

(1, 2, 3, 4, 5)

In [2]:
# 리스트 내부에서는 서로 다른 형태의 자료형도 저장이 가능함
a=[11,"abc",12.3333,"안녕",2+3j] # 리스트 선언과 초기화
a[0],a[1],a[2],a[3],a[4] # 각각의 내용물 출력

(11, 'abc', 12.3333, '안녕', (2+3j))

In [3]:
# 값의 (형태)변경도 가능
a[1]=1234;a[4]="홍길동" # 인덱스 첫번째 값과 네번째 값을 바꿈
a # 각각의 내용물 출력

[11, 1234, 12.3333, '안녕', '홍길동']

In [4]:
score=[90,80,70,60,30]  # 리스트 선언과 초기화
sum=0 # 변수 선언과 초기화
for s in score: # 리스트만큼의 반복문
    print("점수(",s,")") # 각각의 점수를 출력
    sum+=s # 각각의 점수를 더함
print("총점:",sum); # 총합을 출력

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [6]:
# 일반적으로 리스트를 지정하면 첨자 0부터 ~ (n-1)까지의 변수로 지정 
# 하지만 역방향으로 –n ~ -1로 지정도 가능
a=[1,2,3,4,5] # 리스트 선언과 초기화 // -5 -4 -3 -2 -1 의 인덱스도 통한다
print(a[0],a[-5]) # 결과 1 1
print(a[1],a[-4]) # 결과 2 2
print(a[2],a[-3]) # 결과 3 3
print(a[3],a[-2]) # 결과 4 4
print(a[4],a[-1]) # 결과 5 5

1 1
2 2
3 3
4 4
5 5

In [7]:
# 리스트의 첨자는 [begin:end:step]으로 표현 가능
# 첨자가 0부터 시작하고, end 값은 그 값보다 작을 때까지 임에 주의할 것
a=[1,2,3,4,5,6,7,8,9,10] # 리스트 선언과 초기화
print(a[2:8]) # 2부터 8보다 작을 때까지(2,3,4,5,6,7)
print(a[:4]) # 처음부터 4보다 작을 때까지(0,1,2,3 주의 a[4]제외)
print(a[5:]) # 5부터 끝까지
print(a[0:6:3]) # 0부터 6보다 작을때 까지(6은 제외 0,3) 3씩 증가하여

[3, 4, 5, 6, 7, 8]
[1, 2, 3, 4]
[6, 7, 8, 9, 10]
[1, 4]

In [8]:
# 리스트의 요소로 리스트를 저장하여 2차, 3차 및 재귀적인 리스트 형태도 가능함
# 배열과 달리 가변 형식의 리스트도 가능함
a=[[1,2,3],[4,5,6],[7,8,9]] # 리스트로 구성된 리스트
print(a[2]) # 인덱스2의 리스트를 출력
print(a[2][2]) # 인덱스 2의 리스트의 인덱스 2 를 출력

[7, 8, 9]
9

In [9]:
print(a[1][3]) # 인덱스가 사이즈를 벗어남 에러

IndexError: list index out of range

In [10]:
print(a[1][2]) # 인덱스 1의 리스트의 인덱스 2 를 출력
a=[[1,2],[3,4,5],6] # 가변 형태의 리스트
print(a) # 출력
print(a[2]) # 인덱스 2의 내용 출력
print(a[1]) # 인덱스 1의 내용 출력

6
[[1, 2], [3, 4, 5], 6]
6
[3, 4, 5]

In [11]:
# 리스트 컴프리헨션(List Comprehension) 리스트 중 조건을 비교하거나 범위를 주어 선택 사용이 가능한 방법
# [요소 for 변수 in (리스트)(range) {if 조건}]
# 예제 1 : 1부터 10으로 리스트를 구성하여 그 요소 하나하나에 3을 곱한 것을 구함
a=[ n * 3 for n in range (1,10)]
a # 출력

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [12]:
# 예제 2 : 1부터 10중 2로 나누어 나머지가 0인(짝수인) 숫자로 리스트를 구성하여 
# 그 요소 하나하나에 3을 곱한 것을 구함
a=[ n * 3 for n in range (1,10) if n % 2 ==0 ]
a # 출력

[6, 12, 18, 24]

In [14]:
# 리스트 연습
def titleprint(): # 제목 출력 함수 선언
    pass # 일단 패스로 정의하고 진행
def itemprint(name,kortotal,engtotal,mathtotal): # 내용 출력 함수 선언
    pass # 일단 패스로 정의하고 진행
def tailprint(): # 꼬리 출력 함수 선언
    pass # 일단 패스로 정의하고 진행

#데이터 2차원 리스트
score=[["나연",100,90,100],
    ["정연",90,90,100],
    ["모모",80,70,90],
    ["사나",90,90,80],
    ["지효",100,80,80],
    ["미나",50,90,90],
    ["다현",80,60,100],
    ["채영",70,80,90],
    ["쯔위",100,90,90]]
#프로그램을 보기 좋게 하려고 상수를 정의 
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램 
titleprint() # 제목 출력 함수
for one_student in score: # 2차원 리스트 크기만큼 반복하는 반복문
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat]) # 내용 출력 함수
tailprint() # 꼬리 출력 함수

In [25]:
# pass로 비워둔 곳을 채우기
def titleprint(): # 제목 출력 함수 선언
    print("="*50) # 등호 50개 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") # 제목 출력
    print("="*50) # 등호 50개 출력
    
def itemprint(name,kor,eng,mat): # 내용 출력 함수 선언
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    # 이름 국어점수 영어점수 수학점수 총점 평균을 각각 출력
    
def tailprint(): # 꼬리 출력 함수 선언
    totkor=0 # 변수 선언과 초기화
    toteng=0 # 변수 선언과 초기화
    totmat=0 # 변수 선언과 초기화
    for one_student in score: # 점수의 개수만큼 반복문
        totkor+=one_student[kor] # 국어 점수의 총합 구하기
        toteng+=one_student[eng] # 여어 점수의 총합 구하기
        totmat+=one_student[mat] # 수학 점수의 총합 구하기
    print("="*50) # 등호 50개 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
    ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//9) 
# 각 과목의 총합과 모든 총합, 그에 따른 평균을 출력
    print("="*50) # 등호 50개 출력
    
#데이터 2차원 리스트
score=[["나연",100,90,100],
    ["정연",90,90,100],
    ["모모",80,70,90],
    ["사나",90,90,80],
    ["지효",100,80,80],
    ["미나",50,90,90],
    ["다현",80,60,100],
    ["채영",70,80,90],
    ["쯔위",100,90,90]]
#프로그램을 보기 좋게 하려고 상수를 정의 
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램 
titleprint() # 제목 출력 함수
for one_student in score: # 2차원 리스트 크기만큼 반복하는 반복문
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat]) # 내용 출력 함수
tailprint() # 꼬리 출력 함수

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 2320 	 85.0
==================================================

In [17]:
# 리스트 생성시 처음 값을 지정하거나, 삽입(append),  해당 위치 삭제(del), 전부삭제(clear)하여 값을 지정함
# 리스트값을 주고 생성한 후 변수를 지우는 del 명령어로 삭제가 가능함
# del a[2]로 2번 리스트요소를 삭제하면 뒤에 리스트들이 앞으로 당겨짐
# a.clear를 사용하면 모든 리스트가 삭제됨 빈 리스트는 남음
a=[1,2,3,4,5] # 리스트 선언과 값 대입
print(a) # 리스트 출력
del a[2] # 2번 리스트요소 삭제
print(a) # 리스트 출력
del a[2] # 2번 리스트요소 삭제
print(a) # 리스트 출력
a.clear() # 리스트 전부 지움
print(a) # 리스트 출력
del a # a공간도 지움
print(a) # 리스트 출력 아무것도 없으므로 에러

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
[1, 2, 5]
[]

NameError: name 'a' is not defined

In [21]:
# a.append(값)으로 리스트를 추가하기 위하여 최소 빈 리스트는 정의되어 있어야 함
# 리스트의 맨 뒤로부터 하나씩 요소가 추가되어 들어감
del a # a공간을 지움
a.append(1) # 리스트가 정의되어 있지 않은 경우 추가는 불가

NameError: name 'a' is not defined

In [23]:
a=[] # 빈 리스트를 정의
a.append(1) # 1값의 리스트요소를 추가
a.append(3) # 3값의 리스트요소를 추가
a.append(5) # 5값의 리스트요소를 추가
print(a) # 리스트 출력
a=[4,5,6] # 기존 a를 무시하고 다시 정의
a.append(10) # 10값의 리스트요소를 추가
print(a) # 리스트 출력

[1, 3, 5]
[4, 5, 6, 10]

In [26]:
# 한 개의 요소를 삽입시 insert를 사용하고 list.insert(삽입위치,삽입내용)으로 사용
a=[1,2,3,4,5] # 리스트 선언과 값 대입
a.append(6) #append는 맨 뒤에 하나의 요소를 삽입
print(a) # 리스트 출력
a.insert(3,12) # 인덱스3번 자리에 12를 삽입
print(a) # 리스트 출력
a.insert(4,15) # 인덱스4번 자리에 15를 삽입
print(a) # 리스트 출력
a.insert(3,1) # 인덱스3번 자리에 1를 삽입
print(a) # 리스트 출력

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 12, 4, 5, 6]
[1, 2, 3, 12, 15, 4, 5, 6]
[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [27]:
# 여러 개의 요소를 삽입 시 list[n:n]= 방식으로 사용 (n은 삽입위치)
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] # 리스트 선언과 값 대입
a[5:5]=[1,2,3,4,5,6] #5에서 5까지 영역에 해당 리스트 값을 대입
print(a) # 리스트 출력

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [28]:
# list[n]=을 사용하면 해당n요소의 리스트가 대입된 경우임에 주의할 것
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] # 리스트 선언과 값 대입
a[5]=[1,2,3,4,5,6] #5요소에 이 리스트를 대입(큰 차이)
print(a) # 리스트 출력

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [29]:
# 두 개의 리스트를 병합하는 방법
# list.extend를 사용 또는 + 연산을 이용
a=[1,2,3] # 리스트 선언과 값 대입
b=[4,5,6] # 리스트 선언과 값 대입
a=a+b # 리스트 병합
print(a) # 리스트 출력
a=[1,2,3] # 리스트 선언과 값 대입
b=[4,5,6] # 리스트 선언과 값 대입
a.extend(b) # 리스트 병합
print(a) # 리스트 출력

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [33]:
# 리스트를 지우기 위하여 list.remove(원하는값), del(list[n:m]), list.clear()를 사용
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # 리스트 선언과 값 대입
print(a) # 리스트 출력
a.remove(7) # 첫 번째 만나는 7값을 가진 리스트 삭제 
print(a) # 리스트 출력
a.remove(7) # 첫 번째 만나는 7값을 가진 리스트 삭제 
print(a) # 리스트 출력
a[5]=[]  # 다섯 번째에 빈 값[]이 들어 있는 리스트를 만듬(주의: a[5:5]=[]라고 해야 함)
print(a) # 리스트 출력
a[2:4]=[] # 인덱스 2에서3에 삭제 빈 리스트 합치기
print(a) # 리스트 출력
del(a[4]) # 인덱스 4번째 값 삭제
print(a) # 리스트 출력
del(a[3]) # 인덱스 3번째 값 삭제
print(a) # 리스트 출력
a.clear() #다 지우나 빈 값에 리스트가 남음
print(a) # 리스트 출력
del(a) #리스트 정의까지 삭제
print(a) # 리스트 출력 정의까지 삭제해서 에러

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]
[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]
[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]
[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]
[1, 2, 4, [], 5, 6, 7, 7, 8]
[1, 2, 4, [], 6, 7, 7, 8]
[1, 2, 4, 6, 7, 7, 8]
[]

NameError: name 'a' is not defined

In [37]:
# list.pop(n)은 해당위치를 리턴하고 삭제함 n이 없다면 맨 마지막 요소 리턴
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # 리스트 선언과 값 대입
print(a.pop()) # 마지막 요소를 출력하고 삭제
print(a) # 리스트 출력
print(a.pop()) # 마지막 요소를 출력하고 삭제
print(a) # 리스트 출력
print(a.pop(3)) # 인덱스 3번째 요소를 출력하고 삭제
print(a) # 리스트 출력
print(a.pop(6)) # 인덱스 6번째 요소를 출력하고 삭제
print(a) # 리스트 출력
print(a.pop(6)) # 인덱스 6번째 요소를 출력하고 삭제
print(a.pop(0)) # 인덱스 0번째 요소를 출력하고 삭제
print(a) # 리스트 출력

8
[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]
7
[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7]
3
[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]
6
[1, 2, 3, 4, 4, 5, 7, 7, 7]
7
1
[2, 3, 4, 4, 5, 7, 7]

In [41]:
# list.index(값) 해당 값이 처음 나오는 위치를 리턴
# list.count(값) 해당 값이 몇 번 나오는지 리턴
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # 리스트 선언과 값 대입
print(a.index(7)) # 값 7의 위치는 8(0부터 시작)
print(a.index(8)) # 값 8의 위치는 12(0부터 시작)
print(a.index(4)) # 값 4의 위치는 4(0부터 시작)
print(a.count(7)) #7은 4번 나옴

8
12
4
4

In [42]:
# min(list),max(list) 리스트중 최소값과 최대값을 구함
# len(list) 리스트의 크기(개수)를 구함
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # 리스트 선언과 값 대입
print(min(a),max(a),len(a)) # 리스트의 최소값 최대값 길이를 출력

1 8 13

In [43]:
# list.sort() 리스트 내용을 정렬함
# list.reverse() 리스트 내용을 역으로 보여줌
a=[1,8,5,6,2,4,5,2,6,9,4] # 리스트 선언과 값 대입
a.reverse() # 리스트를 역순으로 리벌스는 무조건 반대로 내림차순 아님
print(a) # 리스트 출력
a.sort() # 리스트를 정렬
print(a) # 리스트 출력

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]
[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [45]:
# import 문 외부의 함수를 가지고 올 때 사용
# import random 라이브러리를 가져다 사용하겠다는 정의
# import random as r 프로그램 안에서 r.random() r.randrange(1,10)과  같이 
# r 다음에 오는 함수는 random라이브러리로부터 가지고 온 것임을 정의
import random as r
def titleprint(): # 제목 출력 함수 선언
    print("="*50) # 등호 50개 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") # 제목 출력
    print("="*50) # 등호 50개 출력
    
def itemprint(name,kor,eng,mat): # 내용 출력 함수 선언
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    # 이름 국어점수 영어점수 수학점수 총점 평균을 각각 출력
    
def tailprint(): # 꼬리 출력 함수 선언
    totkor=0 # 변수 선언과 초기화
    toteng=0 # 변수 선언과 초기화
    totmat=0 # 변수 선언과 초기화
    for one_student in score: # 점수의 개수만큼 반복문
        totkor+=one_student[kor] # 국어 점수의 총합 구하기
        toteng+=one_student[eng] # 여어 점수의 총합 구하기
        totmat+=one_student[mat] # 수학 점수의 총합 구하기
    print("="*50) # 등호 50개 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
    ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//100) 
# 각 과목의 총합과 모든 총합, 그에 따른 평균을 출력
    print("="*50) # 등호 50개 출력
    
one_person=[] # 리스트 선언과 초기화
score=[] # 리스트 선언과 초기화
for i in range(100): # 100명의 사람 생성하는 반복문
    one_person.append("name"+str(i)) # 이름
    one_person.append(r.randrange(10,100)) # 국어점수를 10부터 100까지 임의의 값을 추출
    one_person.append(r.randrange(10,100)) # 영어점수를 10부터 100까지 임의의 값을 추출
    one_person.append(r.randrange(10,100)) # 수학점수를 10부터 100까지 임의의 값을 추출
    score.append(one_person[:]) # 값을 복사해서 추가함
    one_person.clear() # 한명을 score에 넣었으면 다음 사람을 위해 리스트 비우기
    
#프로그램을 보기 좋게 하려고 상수를 정의 
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램 
titleprint() # 제목 출력 함수
for one_student in score: # 2차원 리스트 크기만큼 반복하는 반복문
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat]) # 내용 출력 함수
tailprint() # 꼬리 출력 함수

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 17 	 93 	 45 	 155 	 51
name1 	 66 	 16 	 10 	 92 	 30
name2 	 45 	 60 	 95 	 200 	 66
name3 	 67 	 79 	 27 	 173 	 57
name4 	 84 	 97 	 75 	 256 	 85
name5 	 82 	 25 	 17 	 124 	 41
name6 	 64 	 28 	 10 	 102 	 34
name7 	 92 	 48 	 62 	 202 	 67
name8 	 66 	 49 	 67 	 182 	 60
name9 	 47 	 16 	 55 	 118 	 39
name10 	 76 	 97 	 20 	 193 	 64
name11 	 12 	 41 	 27 	 80 	 26
name12 	 59 	 39 	 88 	 186 	 62
name13 	 91 	 67 	 80 	 238 	 79
name14 	 20 	 23 	 89 	 132 	 44
name15 	 81 	 54 	 86 	 221 	 73
name16 	 48 	 76 	 91 	 215 	 71
name17 	 17 	 64 	 87 	 168 	 56
name18 	 87 	 36 	 33 	 156 	 52
name19 	 19 	 63 	 14 	 96 	 32
name20 	 30 	 19 	 36 	 85 	 28
name21 	 31 	 50 	 31 	 112 	 37
name22 	 23 	 18 	 41 	 82 	 27
name23 	 41 	 37 	 93 	 171 	 57
name24 	 11 	 27 	 85 	 123 	 41
name25 	 96 	 58 	 86 	 240 	 80
name26 	 90 	 13 	 91 	 194 	 64
name27 	 39 	 52 	 35 	 126 	 42
name28 	 65 	 21 	 48 	 134 	 44
name29 	 48 	 51 	 72 	 171 	 57
name30 	 73 	 57 	 41 	 171 	 57
name31 	 53 	 42 	 83 	 178 	 59
name32 	 56 	 59 	 46 	 161 	 53
name33 	 35 	 23 	 16 	 74 	 24
name34 	 79 	 82 	 71 	 232 	 77
name35 	 80 	 87 	 70 	 237 	 79
name36 	 49 	 52 	 61 	 162 	 54
name37 	 43 	 39 	 35 	 117 	 39
name38 	 72 	 66 	 50 	 188 	 62
name39 	 10 	 94 	 94 	 198 	 66
name40 	 71 	 56 	 30 	 157 	 52
name41 	 87 	 77 	 63 	 227 	 75
name42 	 20 	 99 	 55 	 174 	 58
name43 	 40 	 45 	 61 	 146 	 48
name44 	 40 	 91 	 81 	 212 	 70
name45 	 19 	 41 	 39 	 99 	 33
name46 	 33 	 75 	 18 	 126 	 42
name47 	 23 	 76 	 58 	 157 	 52
name48 	 75 	 63 	 51 	 189 	 63
name49 	 41 	 68 	 29 	 138 	 46
name50 	 40 	 67 	 66 	 173 	 57
name51 	 64 	 27 	 80 	 171 	 57
name52 	 18 	 19 	 40 	 77 	 25
name53 	 48 	 86 	 14 	 148 	 49
name54 	 46 	 95 	 39 	 180 	 60
name55 	 92 	 10 	 45 	 147 	 49
name56 	 25 	 81 	 85 	 191 	 63
name57 	 41 	 41 	 48 	 130 	 43
name58 	 75 	 27 	 12 	 114 	 38
name59 	 35 	 30 	 70 	 135 	 45
name60 	 70 	 68 	 45 	 183 	 61
name61 	 20 	 24 	 58 	 102 	 34
name62 	 51 	 66 	 11 	 128 	 42
name63 	 54 	 64 	 21 	 139 	 46
name64 	 82 	 14 	 30 	 126 	 42
name65 	 64 	 69 	 54 	 187 	 62
name66 	 98 	 49 	 59 	 206 	 68
name67 	 76 	 97 	 35 	 208 	 69
name68 	 78 	 90 	 70 	 238 	 79
name69 	 17 	 75 	 31 	 123 	 41
name70 	 47 	 55 	 52 	 154 	 51
name71 	 61 	 57 	 44 	 162 	 54
name72 	 82 	 72 	 68 	 222 	 74
name73 	 13 	 47 	 80 	 140 	 46
name74 	 10 	 27 	 36 	 73 	 24
name75 	 70 	 40 	 52 	 162 	 54
name76 	 43 	 70 	 48 	 161 	 53
name77 	 33 	 82 	 92 	 207 	 69
name78 	 47 	 16 	 26 	 89 	 29
name79 	 88 	 45 	 76 	 209 	 69
name80 	 22 	 86 	 21 	 129 	 43
name81 	 66 	 23 	 43 	 132 	 44
name82 	 68 	 69 	 83 	 220 	 73
name83 	 73 	 93 	 22 	 188 	 62
name84 	 11 	 28 	 30 	 69 	 23
name85 	 54 	 42 	 46 	 142 	 47
name86 	 31 	 11 	 27 	 69 	 23
name87 	 66 	 66 	 65 	 197 	 65
name88 	 61 	 27 	 92 	 180 	 60
name89 	 29 	 40 	 78 	 147 	 49
name90 	 20 	 73 	 30 	 123 	 41
name91 	 43 	 86 	 63 	 192 	 64
name92 	 63 	 61 	 46 	 170 	 56
name93 	 46 	 23 	 16 	 85 	 28
name94 	 74 	 54 	 27 	 155 	 51
name95 	 37 	 88 	 37 	 162 	 54
name96 	 84 	 98 	 10 	 192 	 64
name97 	 91 	 63 	 96 	 250 	 83
name98 	 79 	 45 	 54 	 178 	 59
name99 	 34 	 70 	 93 	 197 	 65
==================================================
반총점	 5253 	 5465 	 5214 	 15932 	 53.0
==================================================

In [49]:
# 튜플은 값을 정의시 []대신 ()로 대입 // 튜플은 값을 변경할 수 없는 자료형
# 값을 조회는 가능
a=(1,8,5,6,2,4,5,2,6,9,4) # 튜플 선언과 값 대입
print(a) # 튜플 출력
print(a[5]) # 인덱스 5의 튜플 값 출력
print(a[3:5]) # 인덱스 3에서 4의 튜플 값 출력
print(a[3:8]) # 인덱스 3에서 7의 튜플 값 출력
print(a*2) # 튜플 2개를 출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)
4
(6, 2)
(6, 2, 4, 5, 2)
(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [50]:
# 값을 대입하거나 변경하거나 구조를 지우는 것은 불가능
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4) # 튜플 선언과 값 대입
a[1]=5  #값 변경불가

TypeError: 'tuple' object does not support item assignment

In [52]:
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4) # 튜플 선언과 값 대입
del a[4] #변수 지우기 불가

TypeError: 'tuple' object doesn't support item deletion

In [53]:
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4) # 튜플 선언과 값 대입
a.append(10) # 값 추가 불가

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
def location(): # 함수 선언
    latitude = 2, 17403  # 위도 
    longitude=41,40338  #경도
    return latitude,longitude  #이런방식의 리턴은 튜플로 반환 

a=location() # 변수 a에 함수의 결과 대입
print(a) # 출력

((2, 17403), (41, 40338))