In [4]:
a=3 # a라는 변수에 3을 대입
b=4 # b라는 변수에 4를 대입
c=123+456*6 # c라는 변수에 132+456*6 이라는 수식을 대입 계산된 값이 대입됨
a,b,c # a, b, c의 값을 출력

(3, 4, 2859)

In [2]:
a+b=c # 수식 = 변수 형태이므로 에러

SyntaxError: cannot assign to operator (675349081.py, line 1)

In [3]:
123+456=a # 마찬가지로 수식 = 변수 형태이므로 에러

SyntaxError: cannot assign to operator (4019233268.py, line 1)

In [5]:
a=1 # a라는 변수에 1을 대입 a는 수치형 변수가 됨
a=a+"안녕" # a는 수치형이므로 이 수식은 맞지않음 에러

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
a="abc" #a에 다시 문자를 대입하는 순간 a는 문자형이 됨
a=a+"안녕" # 문자형의 덧셈은 문자끼리 이어짐
a # a를 출력하면 결과값 : abc안녕 이 나옴

'abc안녕'

In [10]:
a=1 # a라는 변수에 1을 대입
b=2 # b라는 변수에 2를 대입
print(a,b) # a와 b를 출력 결과값 : 1 , 2
a,b=b,a # a와 b의 값을 서로 바꿈
print(a,b) # a와 b를 출력 결과값 : 2 , 1

1 2
2 1

In [11]:
a,b,c,d,e,f=1,2,"안녕","하셔요",3,4 # 여러 변수의 값을 한번에 대입할 수 있음
a,b,c,d,e,f # 변수 a b c d e f 를 출력

(1, 2, '안녕', '하셔요', 3, 4)

In [12]:
# 단순 변수는 값을 대입하는 형태로 이해 가능하나, 컬렉션의 경우 같은 변수를 공유하는 것으로 이해하여야 함
a=b=1 # 변수 a와 b에 1를 각각 대입
print(a,b) # a와 b값을 출력 1,1
b=2 # 변수b의 값을 2로 바꿈
print(a,b) # a와 b값을 출력 1,2

1 1
1 2

In [14]:
a=b=[1,2,3] # a와 b에 리스트로 1,2,3 값을 대입 이땐 서로의 값을 공유
print(a,b) # a와 b를 출력 
a[1]=4 # a의 인덱스1번의 값을 4로 바꿈 (두번째 값인 2를 4로 바꿈)
print(a,b) # a와 b를 출력 값을 공유하므로 같이 바뀐 것을 확인

[1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3]

In [15]:
# 컬렉션에서 값을 복사하는 경우는 아래와 같이 사용
a=[1,2,3,4,5] # a라는 변수에 리스트로 값을 대입
b=a[:] # b도 a와 같은 값을 갖는 리스트 생성
print(a,b) # a와 b를 출력
a[2]=5 # a의 인덱스2의 값을 5로 바꿈
print(a,b) # a와 b를 출력 a의 값만 바뀐 것을 확인

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
[1, 2, 5, 4, 5] [1, 2, 3, 4, 5]

In [3]:
import sys # 복합형태 대입 연산자
a=123 # a라는 변수에 123을 대입
sys.getrefcount(123) # 123을 어느 공간에 만들어 놓고 참조하는 방식

79

In [4]:
b=123;sys.getrefcount(123) # b=123을 만나면 참조횟수가 증가

79

In [5]:
c=123;sys.getrefcount(123) # c=123을 만나면 참조횟수가 증가

80

In [24]:
# (+, -, *, /, **) → 덧셈, 뺄셈, 곱셈, 나눗셈, 거듭제곱
# 사직연산 순으로 계산
print(1+2*3/4) # 뒤의 곱하기 먼저 계산 후 더하기 결과 2.5
print(2**3) # 2의 3승 = 8
print(10/3) # 3.3333…
print(1e12*123456789012) # 1*10^12 * 123456789012 를 계산
a=1+2j # a라는 변수에 1+2j라는 복소수대입
print(a+(123+12j)) # 복소수 덧셈 계산

2.5
8
3.3333333333333335
1.23456789012e+23
(124+14j)

In [25]:
# //(정수형 나눗셈), %(나머지) 실수형 계산이 기본
print(5/2) # 나눗셈 한줄은 실수형 계산 결과 2.5
print(5//2) # 나눗셈 두줄은 정수형 나눗셈 계산 결과 2
print(5%2) # 나머지 계산 결과 1

2.5
2
1

In [27]:
a=1;a=a+1;print(a) # a라는 변수에 1 대입 후 +1로 누적 출력시 2
a=1;a+=1;print(a) # a라는 변수에 1 대입 후 누적 출력시 2
a=a*2;print(a) # a에 2를 곱하기 a는 4
a*=2;print(a) # a에 2를 곱하기 a는 8
a=1;a-=1;print(a) # a에 1 대입 -1 a는 0
a-=1;print(a) # a값에서 1빼기 a는 -1

2
2
4
8
0
-1

In [29]:
# C, Java에 있는 1씩 더하거나 빼는 a++, a-- 는 사용할 수 없음
# 순서를 바꾼 =+,=-를 사용하는 경우 양수, 음수를 저장한 경우가 됨(C, Java와 다름)
a=1 # a라는 변수에 1 대입
print(a++) # 파이썬에는 없는 변수로 에러

SyntaxError: invalid syntax (3341105668.py, line 4)

In [30]:
print(a--) # 파이썬에는 없는 변수로 에러

SyntaxError: invalid syntax (2216433717.py, line 1)

In [31]:
a=+ 1; print(a) ; a=- 1 ;print(a) # a에 양수 1 을 대입, a에 음수 1 을 대입

1
-1

In [32]:
# 변수의 형태가 다르면 서로 연산처리를 할 수 없음, 이때는 변수의 형 변환(Type casting)처리를 하여야 함
# 문자형 변수의 덧셈은 문자열을 붙이는 것으로 처리됨 * 숫자는 숫자만큼 문자 출력
a="멍멍이" # a라는 변수에 멍멍이 대입
b="고양이" # b라는 변수에 고양이 대입
print(a+b) # 멍멍이고양이 가 출력됨
print(a*3+b*2) # 멍멍이 3번 고양이 2번 출력
print("-"*20) # 빼기 기호가 20번 출력

멍멍이고양이
멍멍이멍멍이멍멍이고양이고양이
--------------------

In [34]:
a=1 # a라는 변수에 1 대입
b="강아지"+a+"마리" # b라는 변수에 문자+수치+문자를 계산하여 대입 = 에러

TypeError: can only concatenate str (not "int") to str

In [35]:
b="강아지"+str(a)+"마리" # a를 문자로 변환 후 대입 = 성공
b # 강아지1마리가 출력된다

'강아지1마리'

In [37]:
ord("가") # 문자형을 다루는 ord함수 문자의 내부코드값을 반환
hex(ord("a")) # a를 내부코드값으로 변환 후  그 값을 16진법으로 반환
for c in range (ord('a'), ord('z')+1): # 반복문 a에서 z까지
    print(hex(c),"=",chr(c),", ",end="") # chr함수는 내부코드값을 가지고 해당 글자를 반환
# 내부코드 = 글자 , 를 a에서 z까지 출력

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [39]:
a="123"; print(a+1) # a라는 변수에 “123” 대입 a는 문자형, a+1은 문자+수치로 에러

TypeError: can only concatenate str (not "int") to str

In [40]:
a="123"; print(int(a)+1) # int를 사용하여 수치로 바꾸고 계산
a=12.3; print(int(a)) # 실수를 int를 사용하여 정수로 바꿈 소수점 이하 자릿수는 버림

124
12

In [42]:
a="12.3";int(a) # a라는 변수에 “12.3”을 대입 정수형으로 변환시도 12.3이므로 실패

ValueError: invalid literal for int() with base 10: '12.3'

In [46]:
a="12.3"
print(float(a)) # 먼저 float를 사용하여 실수형으로 변환
a=1.1;print(1+a+12) # a라는 변수에 1.1대입 후 계산하면 14.1
print(1+int(a)+12) # a를 정수형으로 변환 후 계산하면 14

12.3
14.1
14

In [48]:
print(int(3.14)) # 3.14를 정수형으로 변화하면 소수점 이하 자릿수를 버려지므로 3이 출력
print(round(3.14));print(round(3.14,1)); print(round(123456,-4)) 
# round반올림 두번째는 소수점 밑 한 자리까지 반올림 계산 -4는 천의 자리에서 반올림

3
3
3.1
120000

In [49]:
# 올림계산
a=1234567 
if(a%1000 != 0 ) : #1000으로 나누어 나머지가 있다면 
    a=int(a/1000)*1000+1000 #버린값에다가 한자리를 올려 줌 
else: # 나머지가 없다면
    a=int(a/1000)*1000 # 그대로 계산한 값을 대입
a # 나머지가 있으므로 +1000을 하여 1235000 가 출력

1235000